.menucontainer{
      height: 50px;
      background-color: white;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      z-index: 30;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      display: flex;
      flex-direction: row;
      align-items: center;
}

.logoimg{
      height: 100%;
      width: auto;
      margin-left: 6px;
}

.itemcontainer {
      width: 150px;
      height: 100%;
      text-align: center;
      margin-top: auto;
      margin-left: 5px;
      margin-bottom: auto;
      color: rgb(126, 126, 126); /* สีปกติ */
      transition: color 0.3s ease-in-out;
}

.itemcontainer:hover {
      border-radius: 3px;
      color: rgb(0, 0, 0);
}


